.button{
    width: 1cm;
    padding: 10px;
}
footer.rr{
    background-color: rgb(4, 15, 50);
}

.text1{
    margin-left: 5px;
    color: rgb(162, 155, 155);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(162, 155, 155);
    text-align: right;
}