html {
    height: 100%;
  }
  body {
   
    font-family: sans-serif;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(160, 228, 253),rgb(255, 255, 255));
    
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -27px;
    left: 0;
    color: #002cdb;
    font-size: 12px;
  }
  
  .login-box form input.login {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #020d65;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 3px;
    width:170px;
    
  }
  
  .login-box input.login {
    background: #c9f7ff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
   
  }

  .login-box input.login  {
    background: #c9f7ff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 1px #0060ce,
                0 0 2px  #0060ce,
                0 0 0px  #0060ce,
                0 0 0px  #0060ce;
  }
  .login-box input.login:hover {
    background: #00d7e6;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 1px #0edbff,
                0 0 2px  #0edbff,
                0 0 3px  #0edbff,
                0 0 5px  #0edbff;
  }
  .login-box form a {
    position: relative;
    display: inline-block;
    color: #020d65;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 0px;
    width:170px;
  }

  .login-box a {
    background: #c9f7ff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 1px #0060ce,
                0 0 2px  #0060ce,
                0 0 3px  #0060ce,
                0 0 5px  #0060ce;
  }
  .login-box a:hover {
    background: #00d7e6;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 1px #0edbff,
                0 0 2px  #0edbff,
                0 0 3px  #0edbff,
                0 0 5px  #0edbff;
  }
  
  p.signup{
    text-align: center;
    padding: 0px;
  }
